.item {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  gap: 1rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  background: white;
  padding: 1.5rem;
  max-width: 960px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.375);
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 2;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.distance {
  font-size: 0.8rem;
}

.taxiOp {
  width: max-content;
  padding: 0.2rem;
  font-size: 0.8rem;
  background-color: var(--color-success);
  color: white;
  border-radius: 0.3rem;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: bold;
}

.features {
  font-size: 0.9rem;
}

.cancelOp {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-success);
}

.cancelSubtitle {
  font-size: 0.8rem;
  color: var(--color-success);
}

.rating {
  display: flex;
  justify-content: space-between;
}

.rating > span {
  font-weight: 600;
}

.rating > button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.3rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: right;
}

.price {
  font-size: 1.4rem;
}

.taxOps {
  font-size: 0.8rem;
  color: gray;
}

.checkBtn {
  background-color: var(--color-primary-btn);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
