.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.1rem;
}

.wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 1024px;
}

.results {
  flex: 3;
}
