.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  border-radius: 0.4rem;
  box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0.2);
  padding: 0.7rem 4rem;
}

.title {
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px;
  border-radius: 0.3rem;
}

.input:invalid {
  border: 2px solid var(--primary-btn);
}

.input:valid {
  border: 1px solid gray;
}

.label {
  margin: 0;
  margin-top: 0.6rem;
}

.submit {
  border: none;
  padding: 1rem;
  background-color: var(--primary-btn);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 1rem;
}

.submit:disabled {
  background-color: rgba(20, 134, 215, 0.55);
  cursor: not-allowed;
}

.errorBox {
  color: red;
}

.infoBox {
  margin: 1rem;
  font-size: 0.9rem;
  color: gray;
}
