.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

.grid-container {
  background-color: white;
  margin-bottom: 3rem;
  width: 1124px;
  min-height: 90vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  align-content: start;
  align-self: start;
  border-radius: 0.5rem;
}

.header {
  height: fit-content;
  grid-column: span 5;
  padding: 2rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  color: var(--color-primary);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.169);
}

.bread-crump {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.bread-crump svg {
  font-size: 2.5rem;
}

.side {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}

.content {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 5rem;
}

.table {
  grid-column: span 5;
  display: grid;
  align-self: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.169);
}

.table > div,
.table-head {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.308);
}

.table-head {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-primary);
}

.table-head > div {
  width: 100%;
  text-align: center;
  background: var(--color-bg-prim);
}

.table > div:nth-child(2n) {
  background-color: white;
}

.table > div > div {
  padding: 1rem;
}

.table > div > div:nth-child(1) {
  text-transform: capitalize;
}

.table-span-1 {
  grid-column: span 1;
}

.table-span-2 {
  grid-column: span 2;
}

.table-span-3 {
  grid-column: span 3;
}

.table-span-4 {
  width: 100%;
  text-align: left;
  grid-column: span 4;
  display: flex;
}

.table-span-tiny {
  grid-column: span 0.3;
}

.table-span-tiny svg {
  margin: auto;
}

.table-span-tiny svg.unread {
  color: var(--color-primary);
}

.table-span-tiny svg.read {
  color: var(--text-dark);
}

.content span {
  font-size: 1.5rem;
  font-weight: bold;
}

.content span em {
  color: var(--text-dark);
}

.item {
  grid-column: span 1;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.item-wide {
  grid-column: span 2;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.item input,
.item select,
.item-wide input,
.item-wide select {
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px;
  border-radius: 0.3rem;
  border: 2px solid var(--color-primary-btn);
}

.item-wide > textarea {
  width: 95%;
  line-height: 2rem;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.item > span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.item > span > em {
  color: var(--text-dark);
}

.avatar {
  font-size: 1rem;
  color: var(--text-very-dark);
  border: 1px solid var(--text-very-dark);
  border-radius: 0.5rem;
  padding: 0.3rem;
  height: 160px;
  width: 160px;
}

.action-btn {
  background-color: white;
  border: 1px solid var(--color-primary);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  width: fit-content;
}

.action-btn svg {
  padding-right: 1rem;
}

.action-btn:hover {
  background-color: var(--color-primary);
}

.action-btn > span {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
}

.action-btn:hover > span {
  color: white;
}

.file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 0.5rem;
  background-color: var(--color-primary-btn);
  color: white;
  border: none;
  border-radius: 0.2rem;
}

.input-select-files {
  display: none;
}

hr {
  grid-column: span 2;
  width: 85%;
  color: var(--color-bg);
  margin: 2rem auto;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-list {
  grid-column: span 2;
  margin: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.grid-list li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.grid-list li button,
.grid-list li a {
  font-size: medium;
  padding: 0.3rem;
  text-transform: uppercase;
  margin: 0.5rem;
  background-color: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}

.grid-list li button:hover,
.grid-list li a:hover {
  color: white;
  background-color: var(--color-primary);
}

.grid-list li:first-child {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--text-dark);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

input.delete-btn {
  border: none;
  height: fit-content;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: var(--color-danger);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 1rem;
}

input[type="submit"] {
  border: none;
  height: fit-content;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: var(--color-primary-btn);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 1rem;
}

.photo-box {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.photo-box img.single {
  width: 200px;
  height: 200px;
}

.thumb {
  height: 50px;
  width: 50px;
  font-size: 2.5rem;
  color: var(--color-primary-btn);
}

.empty-box {
  width: 100%;
  grid-column: span 7;
  font-size: 2rem;
  padding: 3rem 0;
  background-color: var(--color-bg);
  color: var(--text-very-dark);
  text-align: center;
  grid-column: span 5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.warning {
  color: rgb(250, 107, 107);
  font-size: 1.2rem;
}

.mail-icon {
  cursor: pointer;
  padding: 0.5rem;
}
