.container {
  width: 1050px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: fit-content;
  margin: 2rem 0 0 0;
  font-size: 1.3rem;
}

.menu li a {
  width: 100%;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: white;
  color: black;
  border-bottom: 7px transparent;
}

.menu li a.activeLink {
  border-top: 3px solid var(--color-primary-btn);
  border-bottom: 7px solid white;
  font-weight: bold;
  color: var(--color-primary);
}
