.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1400px;
  margin: 1.5rem;
  position: relative;
}

.book-btn {
  grid-column: span 1;
  height: fit-content;
  right: 1rem;
  top: 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-primary-btn);
  color: white;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.room-list {
  grid-column: span 4;
}

.map {
  grid-column: span 3;
}

.title {
  font-size: 2rem;
  grid-column: span 3;
}

.address {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.1rem;
  grid-column: span 3;
}

.highlight {
  color: var(--color-success);
  font-weight: bold;
  grid-column: span 3;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  grid-column: span 4;
}

.details-text {
  flex: 3;
}

.details-text > article {
  font-size: 1.2rem;
  margin: 2rem 0;
  white-space: pre-wrap;
}

.close-btn {
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 1000;
  color: var(--color-primary-btn);
  background-color: white;
  border-radius: 50%;
  border: 2px solid var(--color-primary-btn);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.442);
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.479);
  /* z-index: 900; */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.reviews {
  grid-column: span 4;
}

.favorite,
.rating {
  grid-column: span 1;
}
