.gallery {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5rem;
}

.carousel {
  grid-column: span 3;
}

.carousel-small {
  grid-column: span 3;
  margin-top: 1rem;
}
