.container {
  width: 100%;
  min-height: 70vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.error-message {
  font-size: 4rem;
  width: 700px;
  font-weight: bold;
  color: var(--text-dark);
}

.container span {
  color: var(--text-very-dark);
  font-size: 2rem;
  font-style: italic;
}

.container input[type="button"] {
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
  background: var(--color-primary-btn);
  color: white;
  cursor: pointer;
  margin-bottom: 3rem;
}

.search-box {
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
