.featured {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 1024px;
  z-index: -2;
}

.image {
  object-fit: cover;
  width: 100%;
}

.item {
  position: relative;
  border-radius: 0.5rem;
  color: white;
  overflow: hidden;
  height: 350px;
}

.title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
