.header {
  display: flex;
  justify-content: center;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header.compact {
  background-color: var(--color-primary);
}

.container {
  width: 100vw;
  max-width: 1024px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container > section {
  height: 100%;
  width: 100%;
}

.title {
  margin: 2rem 0 1rem 0;
}

.description {
  margin-bottom: 2rem;
}

.header-link {
  background-color: var(--color-primary-btn);
  border: none;
  border-radius: 0;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 3rem;
  padding: 1rem;
  cursor: pointer;
}

.header-link:visited {
  color: white;
}

.container .title {
  font-size: 3.5rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.21rem;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.128);
  text-align: center;
  font-weight: bold;
}

.container .description {
  font-size: 2rem;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}
