.navbar {
  height: 6rem;
  width: 100vw;
  background-color: white;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  z-index: 100;
  transition: top 0.5s;
}

.navbar.hiden {
  position: fixed;
  top: -100px;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

.nav-container {
  width: 100vw;
  /* max-width: 1024px; */
  margin: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.brand span {
  margin: 0 1rem;
}

.brand svg {
  font-size: 2rem;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navItems > li > a {
  display: block;
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

.activeLink {
  border-bottom: 3px solid var(--color-primary);
}
