.navbar {
  height: 4rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100vw;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-weight: bold;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navLink {
  display: block;
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}
