.list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
}

.header {
  color: var(--text-very-dark);
  text-align: left;
  margin: 1rem 3rem;
}
