/* Browser resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color variables */

* {
  --primary: rgb(6, 75, 154);
  --primary-btn: rgb(11, 108, 220);
  --icon-color: rgb(121, 121, 121);
}
