.search {
  flex: 1;
  padding: 0.5rem;
  background-color: var(--focus-color);
  border-radius: 0.5rem;
  top: 12px;
  position: sticky;
  height: max-content;
}

.title {
  font-size: 1.1rem;
  color: var(--color-gary);
  margin-bottom: 0.5rem;
}

.searchtoolItem {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}

.searchtoolItem > label {
  font-size: 0.9rem;
}

.searchtoolItem > input {
  height: 1.5rem;
  border: none;
  padding: 0.5rem;
}

.optionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  padding: 0 1rem;
}

.optionInput {
  width: 50px;
}

.searchBtn {
  width: 100%;
  background-color: var(--color-primary-btn);
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
