.container {
  position: fixed;
  top: 5rem;
  right: 2.8rem;
  background-color: transparent;
  z-index: 1100;
}

.wrapper > div {
  position: relative;
  height: fit-content;
  max-height: 200px;
  width: fit-content;
  max-width: 300px;
  padding: 1.2rem;
  margin: 0.7rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.wrapper > div > button {
  top: -10px;
  right: -10px;
  height: 2rem;
  width: 2rem;
  position: absolute;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 7px;
  font-size: 1rem;
}

.error {
  background-color: rgb(242, 108, 108);
}

.info {
  background-color: rgb(108, 153, 242);
}

.success {
  background-color: rgb(138, 232, 121);
}
